body{
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    color: #3E423A;
}

h1{
    margin-top: 4%;
    margin-left: 4%;
    padding: 10px;
    color: #194759;
    text-align: left;
   }

h2{
    color: #194759;
    text-align: left;
    font-family: Arial, sans-serif;
}

h3{
    color: #194759;
    }

.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3E423A;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
    }

li {
    float: left;
    }

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #0F2D4;
}

.active {
    background-color: #3E8C84;
}

.left{
    margin: 5%;
    display: inline-block;
    width: 20%;
    padding: 5px;
}

.right{
    display: inline-block;
    width: 55%;
    padding:5px;
    position: absolute;
}

#map_canvas{
    max-width: 90%;
    height: auto;
    margin:0 auto;

}
.map-text{
    margin: 5%;
}

.img{
    display: block;
    padding: 5px;
    width: 800px;

}

.desc{
    width: 28%;
}

.table{
    width: 100%;
    padding-top:8%;
    width: 95%;
    margin:0 auto;
   /* overflow: auto;*/

}

/*alternative colored rows*/
tr:nth-child(odd){
    background-color: #F4F7D9;
}

tr:nth-child(even) {
    background: #A4CFBE;
}
tbody tr{
    opacity: 0.8;
}

table tbody, table thead
{
    display: block;
}

table tbody 
{
   overflow: auto;
   height: 600px;
}
th:first-child 
{
    width: 120px;
    text-align: left;
}
th:nth-child(2){
    width: 700px;
    text-align: left;
}
th:last-child{
    width: 200px;
    text-align: left
}

.firstrow' th {
    background-color: 194759;
}